<div class="row" id="<%= dom_id audio %>">
  <div class="col-1">
    <%= link_to audio.id, audio  %>
  </div>
  <div class="col-5">
    <%= link_to audio.title, audio  %>
  </div>

  <div class="col-4">
    <%= audio.description %>
  </div>

  <div class="col-2">
    <%= link_to "phrases", audio_phrases_path(audio_id: audio.id), class: "btn btn-primary" %>
  </div>

</div>
