<div class="row" id="<%= dom_id phrase %>">
  <div class="col-1">
    <%= link_to phrase.id, audio_phrase_path(phrase.audio, phrase)  %>
  </div>
  <div class="col-5">
    <%= phrase.body %>
  </div>

  <div class="col-3">
    <%= phrase.audio_path %>
  </div>

  <div class="col-3">
    <%= phrase.disliked_at.nil? ? "" : "Disliked" %>
  </div>

</div>
