<h1><%= @phrase.body %></h1>

<div>
  <%= @phrase.audio.title %>
</div>

<div data-controller="audio">
  <%= audio_tag(@phrase.audio_path.sub("public", ""), controls: true, id: "phrase-audio") %>
</div>

<div class="btn-group" role="group">
  <%= link_to "Dislike", dislike_phrase_path(@phrase), class: "btn btn-danger" %>
  <%= link_to "Next", learn_path, class: "btn btn-primary" %>
</div>